<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <h3><a th:href="@{/}">Backoffice</a></h3>
    <hr id="hr">
    <a class="special" th:href="@{/}" >Geral</a>
    <a class="special" th:href="@{/ementas}">Ementas</a>
    <a class="special" th:href="@{/estatisticas}">Estatísticas</a>
    <a class="special" th:href="@{/sobre}">Sobre</a>
</div>
<div class="container">
    <h1 class="mb-4"><a th:href="@{/}" style="color: inherit; text-decoration: none;">Backoffice - Controlo de Desperdício</a></h1>
    <div>
        <br><br>
        <h4>Inserir ementas</h4>
        <form th:action="@{/ementas/inserir}" method="post" >
            <div class="form-group">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="nomeSopa">Nome da sopa:</label>
                <input type="text" id="nomeSopa" name="nomeSopa" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="quantidade">Volume (litros) Produzido:</label>
                <input type="text" id="quantidade" name="quantidade" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
    </div>
    <br><hr><br>
    <div>
        <h4>Visualizar ementas Semanais</h4>
        <div class="container">
           <!-- Formulário com Bootstrap -->
            <form th:action="@{/ementas/visualizar}" method="get" class="form-inline">
                <div class="form-group mr-2">
                    <label for="semana" class="mr-2">Selecione a semana:</label>
                    <input type="week" id="semana" name="semana" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Dia</th>
                <th>Nome da Sopa</th>
                <th>Volume de Sopa Produzido (litros)</th>
            </tr>
            </thead>
            <tbody>
            <!-- Aqui você vai iterar sobre os dados recebidos do backend -->
            <tr th:each="ementa : ${ementas}">
                <td th:text="${ementa.data}"></td>
                <td th:text="${ementa.nomeSopa}"></td>
                <td th:text="${#numbers.formatDecimal(ementa.quantidade, 1, 2)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Inclua o jQuery antes do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
