<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <h3><a th:href="@{/}">Backoffice</a></h3>
    <hr id="hr">
    <a class="special" th:href="@{/}">Página Inicial</a>
    <a class="special" th:href="@{/ementas}" active>Ementas</a>
    <a class="special" th:href="@{/graficos}">Gráficos</a>
    <a class="special" th:href="@{/sobre}">Sobre</a>
</div>
<div class="container">
    <h1 class="mb-4"><a th:href="@{/}" style="color: inherit; text-decoration: none;">Backoffice - Controlo de Desperdício</a></h1>
    <!-- Acordeão para inserir ementas -->
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Inserir Ementa
                        <span class="arrow"></span>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- Formulário para inserir ementas semanais -->
                    <form th:action="@{/}" method="post">
                        <div class="form-group">
                            <label for="dataEmenta">Data:</label>
                            <input type="date" id="dataEmenta" name="dataEmenta" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="sopa">Nome da sopa?</label>
                            <input type="text" id="sopa" name="sopa" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="volume">Volume (litros) Produzido</label>
                            <input type="text" id="volume" name="volume" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Inserir</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Segunda seção -->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Visualizar Ementa
                        <span class="arrow"></span>
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <!-- Conteúdo da segunda seção -->
                </div>
            </div>
        </div>

        <!-- Terceira seção -->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Terceira Seção
                        <span class="arrow"></span>
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <!-- Conteúdo da terceira seção -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inclua o jQuery antes do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
