<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>
<body>
<div class="sidebar">
    <h3><a th:href="@{/}">Backoffice</a></h3>
    <hr id="hr">
    <a class="special" th:href="@{/}">General</a>
    <a class="special" th:href="@{/ementas}">Menus</a>
    <a class="special" th:href="@{/estatisticas}">Statistics</a>
    <a class="special" th:href="@{/sobre}">About</a>
</div>
<div class="container">
    <h1 class="mb-4"><a th:href="@{/}" style="color: inherit; text-decoration: none;">Backoffice - Waste Control</a></h1>
    <!-- Formulário para selecionar o dia -->
    <br><h4>- Statistics -</h4><br>
    <div class="row">
        <div class="col-md-6">
            <!-- Formulário com Bootstrap -->
            <form th:action="@{/estatisticas/total-semanal}" method="get" class="form-group">
                <label for="semana">Select Week:</label>
                <input type="week" id="semana" name="semana" class="form-control" required>
            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="mes">Select Month:</label>
                <select class="form-control" id="mes" onchange="window.location.href=this.value;">
                    <option value="">Select...</option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=1}" th:text="January"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=2}" th:text="February"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=3}" th:text="March"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=4}" th:text="April"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=5}" th:text="May"></option>
                    <!-- Adicione os outros meses conforme necessário -->
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a th:href="@{/estatisticas/graficosVariados}" class="btn btn-secondary btn-block">Other Statistics</a>
        </div>
    </div>
    <span th:if="${totaisRefeicoesComSopa != null and totaisRefeicoesSemSopa != null}">
        <br><hr><br>
        <div class="row justify-content-center">
            <h5>Month: <span th:text="${mesSelecionado}"></span></h5>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="pie-chart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="bar-chart1" width="400" height="400"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <canvas id="line-chart" width="800" height="400"></canvas>
            </div>
        </div>
    </span>
</div>
<!--Gráficos-->
<script th:inline="javascript">
    // Dados para o gráfico 1
    var comSopa =/*[[${totaisRefeicoesComSopa}]]*/ [];
    var semSopa =/*[[${totaisRefeicoesSemSopa}]]*/ [];
    //var data = /*[[${semSopa}]]*/[];

    console.log([comSopa, semSopa]);

    var ctx = document.getElementById('pie-chart').getContext('2d');
    var grafico = new Chart (ctx, {
        type: 'pie',
        data: {
            labels: ['Tray without Soup','Tray with Soup'],
            datasets: [{
                data: [semSopa, comSopa],
                backgroundColor: [
                    'rgba(144,238,144)',  // Cor para "Sem Sopa"
                    'rgba(50,205,50)' // Cor para "Com Sopa"
                ]
            }]
        }
    });

    // Dados para o gráfico 2
    var volumesSemanais = /*[[${volumeSopaSemanas}]]*/ [];

    // Extrair os volumes semanais para o gráfico
    var volumes = volumesSemanais;

    // Criar rótulos para o eixo x (usando índices)
    var diasSemana = volumesSemanais.map(function(_, index) {
        return 'Week ' + (index + 1);
    });

    // Criar o contexto do gráfico
    var ctx = document.getElementById('bar-chart1').getContext('2d');
    var grafico1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: diasSemana, // Usar os números das semanas como labels no eixo x
            datasets: [{
                label: 'Weekly Waste (liters)', // Rótulo para a legenda
                data: volumes, // Usar os volumes como dados no eixo y
                backgroundColor: 'rgba(50,205,50)', // Cor para as barras
                borderWidth: 1 // Largura da borda das barras
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Volume' // Rótulo do eixo y
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Week' // Rótulo do eixo x
                    }
                }]
            }
        }
    });
    //Dados Gráfico 3
    var volumesDiarios = /*[[${volumeSopaDiario}]]*/ [];

    // Extrair os volumes diários e os dias do mês para o gráfico
    var volumes = volumesDiarios.map(function(dia) {
        return dia.volumeSopaDesperdicado;
    });

    var diasMes = volumesDiarios.map(function(dia) {
        return dia.data;
    });
    console.log(diasMes,volumes)

    // Criar o contexto do gráfico
    var ctx = document.getElementById('line-chart').getContext('2d');
    var grafico = new Chart(ctx, {type: 'line',
        data: {
            labels: diasMes, // Usar os dias do mês como labels no eixo x
            datasets: [{
                label: 'Daily Waste (liters)', // Rótulo para a legenda
                data: volumes, // Usar os volumes como dados no eixo y
                fill: false, // Não preencher a área abaixo da linha
                borderColor: 'rgba(50, 205, 50)', // Cor da linha
                borderWidth: 2 // Largura da linha
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Volume' // Rótulo do eixo y
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Day of Month' // Rótulo do eixo x
                    }
                }]
            }
        }
    });
</script>
<!-- Inclua o jQuery antes do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Adiciona um listener para o evento de mudança do input de data
    document.getElementById('semana').addEventListener('change', function() {
        // Obtém o valor da data selecionada
        var selectedDate = this.value;
        // Redireciona para a página desejada passando a data como parâmetro
        window.location.href = '/estatisticas/total-semanal?semana=' + selectedDate;
    });

</script>
</body>
</html>