<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <h3><a th:href="@{/}">Backoffice</a></h3>
    <hr id="hr">
    <a class="special" th:href="@{/}" >Geral</a>
    <a class="special" th:href="@{/ementas}">Ementas</a>
    <a class="special" th:href="@{/graficos}">Estatísticas</a>
    <a class="special" th:href="@{/sobre}">Sobre</a>
</div>
<div class="container">
    <h1 class="mb-4"><a th:href="@{/}" style="color: inherit; text-decoration: none;">Backoffice - Controlo de Desperdício</a></h1>
    <!-- Formulário para selecionar o dia -->
    <form th:action="@{/visualizarData}" method="get" class="mb-4">
        <div class="form-group">
            <label for="data">Escolha a data:</label>
            <input type="date" id="data" name="data" class="form-control" required>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <button type="submit" class="btn btn-primary btn-block">Visualizar Por Data</button>
            </div>
            <div class="col-md-4 mb-4">
                <a th:href="@{${'/visualizarMensal'}}" class="btn btn-secondary btn-block">Visualizar Dados Mensais</a>
            </div>
            <div class="col-md-4 mb-4">
                <a th:href="@{/visualizar}" class="btn btn-secondary btn-block">Visualizar Todos os Dados</a>
            </div>
        </div>
    </form>
    <!-- Tabela para exibir os dados -->
    <table class="table">
        <thead>
        <tr>
            <th>Data</th>
            <th>Volume de Sopa Desperdiçado (litros)</th>
            <!--<th>Volume de Sopa Produzido</th>-->
        </tr>
        </thead>
        <tbody>
        <!-- Aqui você vai iterar sobre os dados recebidos do backend -->
        <tr th:each="registo : ${dados}">
            <td th:text="${registo.data}"></td>
            <td th:text="${#numbers.formatDecimal(registo.volumeSopaDesperdicado, 1, 2)}"></td>
            <!--<td th:text="${registo.volumeSopaDesperdicado}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
<!-- Inclua o jQuery antes do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
