<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Backoffice</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>
<body>
<div class="sidebar">
    <h3><a th:href="@{/}">Backoffice</a></h3>
    <hr id="hr">
    <a class="special" th:href="@{/}" >Geral</a>
    <a class="special" th:href="@{/ementas}">Ementas</a>
    <a class="special" th:href="@{/estatisticas}">Estatísticas</a>
    <a class="special" th:href="@{/sobre}">Sobre</a>
</div>
<div class="container">
    <h1 class="mb-4"><a th:href="@{/}" style="color: inherit; text-decoration: none;">Backoffice - Controlo de Desperdício</a></h1>
    <!-- Formulário para selecionar o dia -->
    <br>
    <h4>-- Gráficos --</h4>
    <br>
    <div class="row">
        <div class="col-md-6">
            <!-- Formulário com Bootstrap -->
            <form th:action="@{/estatisticas/total-semanal}" method="get" class="form-group">
                <label for="semana">Selecione a semana:</label>
                <input type="week" id="semana" name="semana" class="form-control" required>
            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="mes">Selecione o mês:</label>
                <select class="form-control" id="mes" onchange="window.location.href=this.value;">
                    <option value="">Selecione...</option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=1}" th:text="Janeiro"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=2}" th:text="Fevereiro"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=3}" th:text="Março"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=4}" th:text="Abril"></option>
                    <option th:value="@{/estatisticas/graficoMensal?mes=5}" th:text="Maio"></option>
                    <!-- Adicione os outros meses conforme necessário -->
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a th:href="@{/estatisticas/graficosVariados}" class="btn btn-secondary btn-block">Outras Estatísticas</a>
        </div>
    </div>
    <br><hr><br>
    <div class="row justify-content-center">
        <h5>Ano: 2024</h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="bar-chart" width="800" height="400"></canvas>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-md-12">
            <canvas id="bar-chart2" width="800" height="400"></canvas>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-md-12">
            <canvas id="pie-chart" width="800" height="400"></canvas>
        </div>
    </div>
</div>
<!--Gráficos-->
<script th:inline="javascript">
    // Receber as listas de Thymeleaf
    var meses = /*[[${listaMeses}]]*/ [];
    var volumes = /*[[${dadosVariosMeses}]]*/ [];

    // Criar o contexto do gráfico
    var ctx = document.getElementById('bar-chart').getContext('2d');

    // Criar o gráfico de barras
    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: meses, // Nomes dos meses no eixo x
            datasets: [{
                label: 'Volume Mensal', // Rótulo para a legenda
                data: volumes, // Valores de volume no eixo y
                backgroundColor: 'rgba(144,238,144)', // Cor das barras
                borderColor: 'rgba(50, 168, 82, 1)', // Cor da borda das barras
                borderWidth: 1 // Largura da borda das barras
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Volume' // Rótulo do eixo y
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Mês' // Rótulo do eixo x
                    }
                }]
            }
        }
    });

    //gráfico 2
    var nr_refeicoes = /*[[${nrRefeicoes}]]*/ [];
    var nr_refeicoes_tigela = /*[[${nrRefeicoesTigela}]]*/ [];

    // Criar o contexto do gráfico
    var ctx = document.getElementById('bar-chart2').getContext('2d');

    // Criar o gráfico de barras empilhadas
    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: meses, // Nomes dos meses no eixo x
            datasets: [{
                label: 'Nr de Refeições Com Tigela', // Rótulo para a primeira série de dados
                data: nr_refeicoes_tigela, // Valores da primeira série de dados
                backgroundColor: 'rgba(144, 238, 144)', // Cor das barras
                borderColor: 'rgba(50, 168, 82, 1)', // Cor da borda das barras
                borderWidth: 1 // Largura da borda das barras
            }, {
                label: 'Nr de Refeições Servidas', // Rótulo para a segunda série de dados
                data: nr_refeicoes, // Valores da segunda série de dados
                backgroundColor: 'rgba(255, 99, 132)', // Cor das barras
                borderColor: 'rgba(255, 99, 132, 1)', // Cor da borda das barras
                borderWidth: 1 // Largura da borda das barras
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    stacked: true, // Barras empilhadas no eixo y
                    scaleLabel: {
                        display: true,
                        labelString: 'Nr de Refeições' // Rótulo do eixo y
                    }
                }],
                xAxes: [{
                    stacked: true, // Barras empilhadas no eixo x
                    scaleLabel: {
                        display: true,
                        labelString: 'Mês' // Rótulo do eixo x
                    }
                }]
            }
        }
    });

</script>
<!-- Inclua o jQuery antes do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Adiciona um listener para o evento de mudança do input de data
    document.getElementById('semana').addEventListener('change', function() {
        // Obtém o valor da data selecionada
        var selectedDate = this.value;
        // Redireciona para a página desejada passando a data como parâmetro
        window.location.href = '/estatisticas/total-semanal?semana=' + selectedDate;
    });

</script>
</body>
</html>